body{
    background-color: slategray;
}

.span-link {
    display: block;
    text-align: center;
    width: 300px;
    margin: auto; 
    margin: 45vh auto 0;
    border: solid 2px black;
    padding: 50px;
}

div {
    width: 300px;
    margin: auto; 
    margin: 45vh auto 0;
    border: solid 2px black;
    padding: 50px;
}

.op2, .op3 {
    display: none;
} 

input {
    text-align: center;
}

