body{
    background-color: rgb(40 40 40);
    font-family: verdana, sans-serif;
}
#location{
    color: darkmagenta;
    text-align: center;
    font-size: 70px;
}

#hud{
    color: white;
    font-size: 40px;
    margin-top: 5%;
    margin-left: 25%;
}

#view, #bag{
    color: lightskyblue;
}

/* index */
a{
    text-decoration: none;
}

.menuLink{
    transition: background-color 1.5s;
    background-color: darkred;
    color: white;
    display: block;
    font-size: 50px;
    text-align: center;
    width: 300px;
    margin: auto; 
    margin: 45vh auto 0;
    border: solid 5px black;
    padding: 50px;
}

.menuLink:hover{
    background-color: green;
}
